//body
$body-default-font-family: Helvetica, Arial, sans-serif;

//colors
$main-header-color : #007DFE;
$dark-bg-color: #414141;
$smoke-white: darken(white, 15%);

//font sizes
$base-font-size: 1.4rem;
$small-font-size: 1.2rem;
