html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem; }

a:focus, a:active {
  outline: none; }

.leftMenu {
  background-color: #414141;
  padding: 0; }
  .leftMenu li {
    cursor: pointer;
    list-style: none; }
    .leftMenu li a {
      color: #ffffff;
      display: block;
      line-height: 4rem;
      padding: 1rem; }
      .leftMenu li a.active {
        background-color: blue; }
      .leftMenu li a:hover {
        text-decoration: none; }
    .leftMenu li:hover {
      background-color: #0000b3; }
    .leftMenu li:not(:last-child) {
      border-bottom: 1px solid #d9d9d9; }

.commentBox__comment-icon {
  cursor: pointer;
  margin-left: 1rem; }
